<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>KP Store</title>
  <link rel="stylesheet" href="../assets/css/index.css" />
</head>
<body>
  <header class="topo">
    <div class="logo-area">
      <img src="../assets/imagens/logo.jpeg" alt="Logo KP Store" class="logo" />
      <h1>KP Store</h1>
    </div>

   <nav class="menu">
    <a href="index.html">Início</a>
    <a href="produtos.html">Produtos</a>
    <a href="carrinho.html">Carrinho</a>
    <a href="checkout.html">Checkout</a>

    <a href="cliente-login.html" id="link-area-cliente">Área do Cliente</a>
    <a href="dashboard-cliente.html" id="link-dashboard-cliente" style="display: none;">Dashboard</a>
    <a href="perfil-cliente.html" id="link-perfil-cliente" style="display: none;">Meu Perfil</a>
    <a href="meus-pedidos.html" id="link-meus-pedidos" style="display: none;">Meus Pedidos</a>
    <span id="nome-cliente-logado" style="display: none;"></span>
    <button id="botao-logout-cliente" class="botao-logout-cliente" style="display: none;">Sair</button>
  </nav>
  </header>

  <section class="banner-principal">
    <div class="banner-conteudo">
      <span class="tag">MODA MASCULINA</span>
      <h2>Seu estilo começa aqui.</h2>
      <p>
        Camisetas, tênis, shorts, blusas e bonés com identidade forte,
        entrega local e atendimento direto.
      </p>

      <div class="banner-acoes">
        <a href="produtos.html" class="btn btn-principal">Ver Produtos</a>
        <a href="#" class="btn btn-secundario">Falar no WhatsApp</a>
      </div>
    </div>
  </section>

  <section class="categorias">
    <h2>Categorias</h2>
    <div class="grid-categorias">
      <div class="card-categoria">Camisetas</div>
      <div class="card-categoria">Tênis</div>
      <div class="card-categoria">Shorts</div>
      <div class="card-categoria">Blusas</div>
      <div class="card-categoria">Bonés</div>
    </div>
  </section>

  <section class="produtos-destaque">
    <h2>Destaques</h2>
    <div class="grid-produtos" id="grid-destaques"></div>
  </section>

  <section class="beneficios">
    <div class="beneficio">
      <h3>Entrega local</h3>
      <p>Receba seu produto com mais praticidade na sua cidade.</p>
    </div>

    <div class="beneficio">
      <h3>Retirada fácil</h3>
      <p>Combine a retirada diretamente com a loja.</p>
    </div>

    <div class="beneficio">
      <h3>Atendimento rápido</h3>
      <p>Suporte e negociação pelo WhatsApp.</p>
    </div>
  </section>

  <footer class="rodape">
    <p>&copy; 2026 KP Store - Todos os direitos reservados.</p>
  </footer>

  <script src="../assets/js/dados.js"></script>
  <script src="../assets/js/index.js"></script>
  <script src="../assets/js/cliente-menu.js"></script>
</body>
</html>