<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Produtos | KP Store</title>
  <link rel="stylesheet" href="../assets/css/produtos.css" />
</head>
<body>
  <header class="topo">
    <div class="logo-area">
      <img src="../assets/imagens/logo.jpeg" alt="Logo KP Store" class="logo" />
      <h1>KP Store</h1>
    </div>

    <nav class="menu">
      <a href="index.html">Início</a>
      <a href="produtos.html">Produtos</a>
      <a href="carrinho.html">Carrinho</a>
      <a href="checkout.html">Checkout</a>

      <a href="cliente-login.html" id="link-area-cliente">Área do Cliente</a>
      <a href="dashboard-cliente.html" id="link-dashboard-cliente" style="display: none;">Dashboard</a>
      <a href="perfil-cliente.html" id="link-perfil-cliente" style="display: none;">Meu Perfil</a>
      <a href="meus-pedidos.html" id="link-meus-pedidos" style="display: none;">Meus Pedidos</a>
      <span id="nome-cliente-logado" style="display: none;"></span>
      <button id="botao-logout-cliente" class="botao-logout-cliente" style="display: none;">Sair</button>
  </nav>
  </header>

  <main>
    <section class="cabecalho-produtos">
      <div class="cabecalho-conteudo">
        <span class="tag-pagina">CATÁLOGO KP STORE</span>
        <h2>Nossos produtos</h2>
        <p>
          Explore camisetas, tênis, shorts, blusas e bonés no estilo da KP Store.
        </p>
      </div>
    </section>

    <section class="area-filtros">
      <div class="filtros">
        <input type="text" placeholder="Buscar produto..." class="campo-busca" />

        <select class="campo-filtro">
          <option value="">Categoria</option>
          <option value="camisetas">Camisetas</option>
          <option value="tenis">Tênis</option>
          <option value="shorts">Shorts</option>
          <option value="blusas">Blusas</option>
          <option value="bones">Bonés</option>
        </select>

        <select class="campo-filtro">
          <option value="">Ordenar por</option>
          <option value="menor-preco">Menor preço</option>
          <option value="maior-preco">Maior preço</option>
          <option value="destaque">Destaques</option>
        </select>
      </div>
    </section>

    <section class="lista-produtos">
      <div class="grid-produtos" id="grid-produtos"></div>
    </section>
  </main>

  <footer class="rodape">
    <p>&copy; 2026 KP Store - Todos os direitos reservados.</p>
  </footer>

  <script src="../assets/js/produtos.js"></script>
  <script src="../assets/js/cliente-menu.js"></script>
</body>
</html>