# ==============================
# JAVA / MAVEN
# ==============================
target/
*.class
*.jar
*.war
*.ear

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# ==============================
# IDEs
# ==============================
.vscode/
.idea/
*.iml

# ==============================
# SISTEMA
# ==============================
.DS_Store
Thumbs.db

# ==============================
# LOGS
# ==============================
*.log

# ==============================
# ENV / SEGURANÇA
# ==============================
.env
*.env
application-local.properties
src/main/resources/application-local.properties

# ==============================
# BUILD / CACHE
# ==============================
out/
build/

# ==============================
# NODE
# ==============================
node_modules/